@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px black;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}
