@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black;
  }
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Transparency testing: */
  /* background-image: url('https://i.redd.it/l6my81g5fr921.png'); */
}
