
body.ff .LimitBreak {
    color: #2599be!important
}

body.ff .Scholar {
    color: #8657ff!important
}

body.ff .Scholar-behind-text,body.ff .Scholar-bg {
    background-color: #8657ff!important
}

body.ff .Astrologian {
    color: #ffe74a!important
}

body.ff .Astrologian-bg {
    background-color: #ffe74a!important
}

body.ff .Astrologian-behind-text {
    background-color: #ab9400!important
}

body.ff .Monk,body.ff .Pugilist {
    color: #d69c00!important
}

body.ff .Monk-behind-text,body.ff .Monk-bg,body.ff .Pugilist-behind-text,body.ff .Pugilist-bg {
    background-color: #d69c00!important
}

body.ff .Ninja,body.ff .Rogue {
    color: #af1964!important
}

body.ff .Ninja-behind-text,body.ff .Ninja-bg,body.ff .Rogue-behind-text,body.ff .Rogue-bg {
    background-color: #af1964!important
}

body.ff .Conjurer,body.ff .WhiteMage {
    color: #fff0dc!important
}

body.ff .Conjurer-bg,body.ff .WhiteMage-bg {
    background-color: #fff0dc!important
}

body.ff .Conjurer-behind-text,body.ff .WhiteMage-behind-text {
    background-color: #afa08c!important
}

body.ff .DarkKnight {
    color: #d126cc!important
}

body.ff .DarkKnight-bg {
    background-color: #d126cc!important
}

body.ff .DarkKnight-behind-text {
    background-color: #681366!important
}


body.ff .Gladiator,body.ff .Paladin {
    color: #a8d2e6!important
}

body.ff .Gladiator-bg,body.ff .Paladin-bg {
    background-color: #a8d2e6!important
}

body.ff .Gladiator-behind-text,body.ff .Paladin-behind-text {
    background-color: #588296!important
}


body.ff .Archer,body.ff .Bard {
    color: #91ba5e!important
}



body.ff .Dragoon,body.ff .Lancer {
    color: #4164cd!important
}



body.ff .Marauder,body.ff .Warrior {
    color: #cf2621!important
}



body.ff .Machinist {
    color: #6ee1d6!important
}



body.ff .Arcanist-behind-text,body.ff .Arcanist-bg,body.ff .Summoner-behind-text,body.ff .Summoner-bg {
    background-color: #2d9b78!important
}

body.ff .BlackMage,body.ff .Thamauturge {
    color: #a579d6!important
}

body.ff .BlackMage-behind-text,body.ff .BlackMage-bg,body.ff .Thamauturge-behind-text,body.ff .Thamauturge-bg {
    background-color: #a579d6!important
}


body.ff .RedMage {
    color: #e87b7b!important
}

body.ff .RedMage-behind-text,body.ff .RedMage-bg {
    background-color: #e87b7b!important
}


body.ff .Samurai {
    color: #e46d04!important
}

body.ff .Samurai-behind-text,body.ff .Samurai-bg {
    background-color: #e46d04!important
}


body.ff .Dancer {
    color: #e2b0af!important
}

body.ff .Dancer-behind-text,body.ff .Dancer-bg {
    background-color: #e2b0af!important
}


body.ff .Gunbreaker {
    color: #998d50!important
}

body.ff .Gunbreaker-behind-text,body.ff .Gunbreaker-bg {
    background-color: #796d30!important
}


body.ff .BlueMage {
    color: #2459ff!important
}

body.ff .BlueMage-behind-text,body.ff .BlueMage-bg {
    background-color: #2459ff!important
}

