<div class="flex flex-col h-full space-y-1 font-mono">
  <div class="flex-none max-h-32 h-full overflow-hidden">
    <MeterTable
      @focus='hps'
      @showEncounterOverview={{true}}
      @columns={{array
        (hash title='' value='Job' class='')
        (hash title='' value='name' class='flex-1 truncate')
        (hash title='HPS' value='humanReadableHps' class='text-right min-w-4 pr-2')
        (hash title='' value='humanReadableHealed' class='text-right min-w-4 pr-1 text-sm')
      }}
    />
  </div>

  <div class="flex-1 h-full overflow-hidden">
    <MeterTable
      @columns={{array
        (hash title='' value='Job' class='')
        (hash title='' value='name' class='flex-1 truncate')
        (hash title='DPS' value='humanReadableDps' class='text-right min-w-4 pr-2')
        (hash title='' value='humanReadableDamage' class='text-right min-w-4 pr-1 text-sm')
      }}
    />
  </div>
</div>